body{
    background-color: #B57C46;
}

a{
    text-decoration: none;
    color: black;
}

nav{
    background-color: white;
    box-shadow: 5px 3px lightgray;  
    display: flex;
    flex-direction: row;
    height: 70px;
    font-size: larger;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: -8px   ;
    margin-left: -8px;
    width: 101.2%;
}

li{
    position: relative;
   color: black;
   font-size: 20px;
   margin-left: 40px;
   left: 70%;
}

li:hover{
color: #B57C46;
}


li::marker
{
    display: none;
    color: transparent;
}


.underline{
    width: 45px;
    height: 4px;
    background-color: #B57C46;
    position: relative;
    left: 2px;
    top: 6px;
}

.underline2{
    width: 45px;
    height: 2px;
    background-color: #B57C46;
    position: relative;
    left: 2px;
    top: 5px;
}

.underline3{
    width: 68px;
    height: 2px;
    background-color: #B57C46;
    left: 4px;
    position: relative;
    top: 5px;
}

.underline4{
  width: 68px;
  height: 2px;
  background-color: #B57C46;
  left: -24px;
  position: relative;
  top: 28px;
}

.logo{
    left: 30px;
    position: relative;
}

.home{
    left: 20px;
}

body::-webkit-scrollbar {
    width: 0.5em;
    display: none;
  }
  
  body::-webkit-scrollbar-track {
    background: #f1f1f1;
    display: none;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #FFD1DC;
    border-radius: 5px;
    display: none;
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background-color: #555;

    display: none;
  }

  .carousel {
    width: 900px;
    position: relative;
    left: -10px;
}
  
  .carousel img {
    width: 100%;
    height: 580px;
    object-fit: cover;
  }
  
  .slick-prev:before,
  .slick-next:before {
    font-size: 20px;
    line-height: 1;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-left: 50px;
  }
  
  .slick-prev:before {
    content: '<';
    margin-left: -50px;
    z-index: 2; /* aumentar o valor do z-index */
    color: black;
    font-size: large;
}

  
  .slick-next:before {
    content: '>';
    margin-left: -50px;
    z-index: 1;
    color: black;
    font-size: large;
  }
  
  .slick-prev:hover:before,
  .slick-next:hover:before {
    background-color: white;
  }
  
  .logo2{
    z-index: 10;
    position: relative;
    top: -400px;
    left: 69%;
    width: 400px;
  }

  .pergunta{
    position: relative;
    color: white;
    font-size: 25px;
    margin-right: 10px;
    left: 80%;
    top: -375px;
  }

  .resposta{
    position: relative;
    color: white;
    font-size: 21px;
    margin-right: 10px;
    left: 70%;
    width: 390px;
    top: -405px;
    padding: 70px 0;
    text-align: center;
  }

  .linha{
    width: 400px;
    height: 3px;
    color: black;
    top: -405px;
    left: 95%;
    position: relative;
    z-index: 12;
  }

  .meio{
    display: flex;
    flex-direction: row;
  }

  .logout {
    position: absolute;
    left: -20px;
    color: black !important;
    text-decoration: none !important;
}

.logout:hover {
    color: white;
}

a.logout {
  position: absolute;
  left: -20px;
  color: black !important;
  text-decoration: none !important;
}

a.logout:hover {
  color: white !important;
}